header{ 
     display:block;
	 margin:30px;
	 background:rgba(250,0,0,0.7);
}
img.superior{ display:block;
     margin: auto;
	 width: 650px; 
	 height: 300px;
}
hr{ color: #FACC2E;	
}

body{ 
        background: rgba(0,0,0, 0); 
		
	 	  
	  
}
body h1{
	     display: block;
         margin-left: 350px;
	
}
table.quienessomos img{
	width: 600px;
	height: 400px;
	
}
table.quienessomos p{
	font-family: " Arial " , serif;
	
}
table.ofertas img {
	display: block;
	width:220px;
	height: 130px;
}



p{ 
   
	color: rgb(1,30,20);
}

table{
    	display:table;
      margin: auto;
}
footer { background: black;
margin-top: 20px;

}

footer p {  color: white;
font-size: 10px;
}

footer table td p {
	margin: auto;
	font-size: 11px;
	color: white;
}